Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.2
Werkzeug==2.2.2
gunicorn==21.2.0
numpy==1.23.4
pandas==2.1.2
scikit-learn==1.2.2
python-dateutil==2.8.2
Flask-Dance==7.0.0  
Blinker==1.7.0     
requests==2.31.0   
Flask-Migrate==4.0.5
oauthlib==3.2.2
python-dotenv==1.0.0
mysql-connector-python==8.3.0
pytest-mock
pytest-flask

# Specify platform-specific wheels
--only-binary=numpy
--only-binary=pandas
--only-binary=scikit-learn
