<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Colby Dining</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Colby Dining</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="{{ url_for('main.index') }}" class="nav-item nav-link">Home</a>    
                        <a href="{{ url_for('main.menu_page') }}" class="nav-item nav-link">Menu</a>
                        <a href="{{ url_for('main.contact') }}" class="nav-item nav-link active">Contact</a>
                        <a href="{{ url_for('main.news') }}" class="nav-item nav-link">News</a>
                    </div>
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin_email %}
                            <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-primary py-2 px-4">My Dashboard</a>
                        {% else %}
                            <a href="{{ url_for('main.userdashboard') }}" class="btn btn-primary py-2 px-4">My Dashboard</a>
                        {% endif %}
                        <form action="{{ url_for('auth.logout') }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-outline-light ms-3 py-2 px-4">Logout</button>
                        </form>
                    {% else %}
                        <a href="{{ url_for('auth.google_login') }}" class="btn btn-primary py-2 px-4">LOG IN</a>
                    {% endif %}
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Our Team</h1>

                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Team Start -->

        <div class="container-xxl pt-5 pb-3">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Team</h5>
                    <h1 class="mb-5">Leadership Team</h1>
                </div>
                <!-- Leadership Row -->
                <div class="row g-4 mb-5">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/emilydamon.png" alt="Emily Damon">
                            </div>
                            <h5 class="mb-0">Emily Damon</h5>
                            <small class="fw-bold">General Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>emily.damon@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5464</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/kristenmartin.png" alt="Kristen Martin">
                            </div>
                            <h5 class="mb-0">Kristen Martin</h5>
                            <small class="fw-bold">Executive Dining Administrator</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>kristen.martin@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5462</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/richardfrost.png" alt="Richard Frost">
                            </div>
                            <h5 class="mb-0">Richard Frost</h5>
                            <small class="fw-bold">Assistant General Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>richard.frost@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5486</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Culinary Team Heading -->
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-5">Culinary Team</h1>
                </div>
                <!-- Culinary Team Row -->
                <div class="row g-4 mb-5">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/michaeldowney.png" alt="Michael Downey">
                            </div>
                            <h5 class="mb-0">Michael Downey</h5>
                            <small class="fw-bold">Campus Executive Chef</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>michael.downey@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5476</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/karlreed.png" alt="Karl Reed">
                            </div>
                            <h5 class="mb-0">Karl Reed</h5>
                            <small class="fw-bold">Executive Sous Chef</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>karl.reed@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5481</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/mattanderson.png" alt="Matt Andresen">
                            </div>
                            <h5 class="mb-0">Matt Andresen</h5>
                            <small class="fw-bold">Foss Chef Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>matthew.andresen@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5491</small>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/lesabrown.png" alt="Lesa Brown">
                            </div>
                            <h5 class="mb-0">Lesa Brown</h5>
                            <small class="fw-bold">Roberts Cafe Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>lesa.brown@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5482</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/alethablalock.png" alt="Aletha Blalock">
                            </div>
                            <h5 class="mb-0">Aletha Blalock</h5>
                            <small class="fw-bold">Roberts Chef Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>aletha.blalock@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5483</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/natalieherrick.png" alt="Natalie Herrick">
                            </div>
                            <h5 class="mb-0">Natalie Herrick</h5>
                            <small class="fw-bold">Dana Chef Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>natalie.herrick@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5487</small>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Operations Team Heading -->
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="mb-5">Operations & Catering</h1>
                </div>
                <!-- Operations Team Row -->
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/kimberlyberthiaume.png" alt="Kimberley M. Berthiaume">
                            </div>
                            <h5 class="mb-0">Kimberley M. Berthiaume</h5>
                            <small class="fw-bold">Retail Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>kimberly.berthiaume@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5495</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/marktaylor.png" alt="Mark Taylor">
                            </div>
                            <h5 class="mb-0">Mark Taylor</h5>
                            <small class="fw-bold">Catering Director</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>mark.taylor@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5467</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/lydiakumpa.png" alt="Lydia Kumpa">
                            </div>
                            <h5 class="mb-0">Lydia Kumpa</h5>
                            <small class="fw-bold">Catering Production Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>lydia.kumpa@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5483</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/markstamper.png" alt="Mark Stamper">
                            </div>
                            <h5 class="mb-0">Mark Stamper</h5>
                            <small class="fw-bold">Catering Manager</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>mark.stamper@cafebonappetit.com</small>
                                <small class="d-block"><i class="fa fa-phone me-2"></i>(207) 859-5475</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item text-center rounded overflow-hidden">
                            <div class="rounded-circle overflow-hidden m-4">
                                <img class="img-fluid" src="../static/img/hannahwyllie.png" alt="Hannah Wyllie">
                            </div>
                            <h5 class="mb-0">Hannah Wyllie</h5>
                            <small class="fw-bold">East Coast Fellow</small>
                            <div class="p-4">
                                <small class="d-block"><i class="fa fa-envelope me-2"></i>hannah.wyllie@cafebonappetit.com</small>
                                <small class="text-muted">Based in Boston</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <!-- Hours of Operation Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Locations</h4>
                        <h5 class="text-light fw-normal mb-3">Dana</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 7:00 AM - 10:00 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:00 AM - 2:00 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 8:00 PM</p>
                        
                        <h5 class="text-light fw-normal mb-3">Roberts</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 7:00 AM - 10:00 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 10:00 AM - 10:45 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:00 AM - 2:00 PM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch Lite: 2:00 PM - 4:45 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 8:00 PM</p>
                    </div>

                    <!-- More Hours Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">More Locations</h4>
                        <h5 class="text-light fw-normal mb-3">Foss Dining Hall</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:30 AM - 2:00 PM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch Lite: 2:00 PM - 4:45 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 9:00 PM</p>
                        

                        <h5 class="text-light fw-normal mb-3">Joseph Family Spa</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Monday - Friday</p>
                        <p style="font-size: 0.95rem;">8:00 AM - 4:00 PM</p>
                    </div>

                    <!-- Quick Links Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Quick Links</h4>
                        <a class="btn btn-link" href="{{ url_for('main.menu') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">Today's Menu</a>
                        <a class="btn btn-link" href="{{ url_for('main.userdashboard') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">My Dashboard</a>
                        <a class="btn btn-link" href="{{ url_for('main.contact') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">Submit Feedback</a>
                    </div>

                    <!-- Contact Info Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2" style="font-size: 0.95rem;"><i class="fa fa-map-marker-alt me-3"></i>Colby College, Waterville, ME</p>
                        <p class="mb-2" style="font-size: 0.95rem;"><i class="fa fa-envelope me-3"></i>emily.damon@cafebonappetit.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/colby.dining?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" style="margin-right: 10px; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 35px;">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/ColbyDining" style="margin-right: 10px; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 35px;">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>

                
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#" style="color: #fff; text-decoration: none;">Colby Dining</a>, All Rights Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="{{ url_for('main.index') }}" style="margin-right: 15px; padding-right: 15px; border-right: 1px solid rgba(255, 255, 255, .1); color: #fff; text-decoration: none;">Home</a>
                                <a href="{{ url_for('main.menu') }}" style="margin-right: 15px; padding-right: 15px; border-right: 1px solid rgba(255, 255, 255, .1); color: #fff; text-decoration: none;">Menu</a>
                                <a href="{{ url_for('main.contact') }}" style="color: #fff; text-decoration: none;">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
</body>

</html>