<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Colby Dining</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="{{ url_for('main.index') }}" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Colby Dining</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="{{ url_for('main.index') }}" class="nav-item nav-link">Home</a>    
                        <a href="{{ url_for('main.menu_page') }}" class="nav-item nav-link">Menu</a>
                        <a href="{{ url_for('main.contact') }}" class="nav-item nav-link">Contact</a>
                    </div>
                    {% if current_user.is_authenticated %}
                        {% if current_user.admin_email %}
                            <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-primary py-2 px-4">My Dashboard</a>
                        {% else %}
                            <a href="{{ url_for('main.userdashboard') }}" class="btn btn-primary py-2 px-4">My Dashboard</a>
                        {% endif %}
                        <form action="{{ url_for('auth.logout') }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-outline-light ms-3 py-2 px-4">Logout</button>
                        </form>
                    {% else %}
                        <a href="{{ url_for('auth.google_login') }}" class="btn btn-primary py-2 px-4">LOG IN</a>
                    {% endif %}
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">User Dashboard</h1>
                    <nav aria-label="breadcrumb">
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->



    <div class="container-xxl bg-white p-0">

        <div class="container my-5">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">User Settings</h5>
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <span>Username</span>
                            </div>

                            <form>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="notificationsNewDishes">
                                    <label class="form-check-label" for="notificationsNewDishes">Notifications for New Dishes</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="notificationsFavoriteDishes">
                                    <label class="form-check-label" for="notificationsFavoriteDishes">Notifications for Favorite Dishes</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="notificationsNewEvents">
                                    <label class="form-check-label" for="notificationsNewEvents">Notifications for New Events</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="notificationsHighRatingDishes">
                                    <label class="form-check-label" for="notificationsHighRatingDishes">Notifications for High-Rating Dishes</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="enableRecommendation">
                                    <label class="form-check-label" for="enableRecommendation">Enable Recommendation</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="shareAnonymousData">
                                    <label class="form-check-label" for="shareAnonymousData">Share Anonymous Data</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="showFeedbackPopups">
                                    <label class="form-check-label" for="showFeedbackPopups">Show Feedback Popups</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Favorite Dishes</h5>
                            <div class="overflow-auto" style="max-height: 250px;">
                                <div class="d-flex justify-content-between py-2 border-bottom">
                                    <span>Dish Name 1</span>
                                    <small>Favorited: 2 days ago</small>
                                </div>


                                <div class="d-flex justify-content-between py-2 border-bottom">
                                    <span>Dish Name 2</span>
                                    <small>Favorited: 5 days ago</small>
                                </div>

                            </div>
                            <div class="mt-3">
                                <small class="text-muted">Total Favorite Dishes: <span id="favoriteCount">2</span></small>
                            </div>
                        </div>
                    </div>
                </div>

            

                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">Feedback</h5>

                        </div>
                    </div>
                </div>

            </div>
        </div>




        <!-- Wait time start -->
        <div class="col-lg-12">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="card-title mb-0">Waiting Time</h5>
                        <small class="text-muted" id="last-updated"></small>
                    </div>
                    <div class="d-flex flex-row gap-3" id="wait-times-container">
                        <!-- Dining halls will be dynamically inserted here -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Wait time end -->



        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <!-- Hours of Operation Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Locations</h4>
                        <h5 class="text-light fw-normal mb-3">Dana</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 7:00 AM - 10:00 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:00 AM - 2:00 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 8:00 PM</p>
                        
                        <h5 class="text-light fw-normal mb-3">Roberts</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 7:00 AM - 10:00 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Breakfast: 10:00 AM - 10:45 AM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:00 AM - 2:00 PM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch Lite: 2:00 PM - 4:45 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 8:00 PM</p>
                    </div>

                    <!-- More Hours Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">More Locations</h4>
                        <h5 class="text-light fw-normal mb-3">Foss Dining Hall</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch: 11:30 AM - 2:00 PM</p>
                        <p class="mb-2" style="font-size: 0.95rem;">Lunch Lite: 2:00 PM - 4:45 PM</p>
                        <p class="mb-4" style="font-size: 0.95rem;">Dinner: 5:00 PM - 9:00 PM</p>
                        

                        <h5 class="text-light fw-normal mb-3">Joseph Family Spa</h5>
                        <p class="mb-2" style="font-size: 0.95rem;">Monday - Friday</p>
                        <p style="font-size: 0.95rem;">8:00 AM - 4:00 PM</p>
                    </div>

                    <!-- Quick Links Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Quick Links</h4>
                        <a class="btn btn-link" href="{{ url_for('main.menu') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">Today's Menu</a>
                        <a class="btn btn-link" href="{{ url_for('main.userdashboard') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">My Dashboard</a>
                        <a class="btn btn-link" href="{{ url_for('main.contact') }}" style="display: block; text-align: left; color: #fff; text-decoration: none; padding: 0; margin-bottom: 8px; transition: all 0.3s;">Submit Feedback</a>
                    </div>

                    <!-- Contact Info Column -->
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2" style="font-size: 0.95rem;"><i class="fa fa-map-marker-alt me-3"></i>Colby College, Waterville, ME</p>
                        <p class="mb-2" style="font-size: 0.95rem;"><i class="fa fa-envelope me-3"></i>emily.damon@cafebonappetit.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/colby.dining?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" style="margin-right: 10px; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 35px;">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/ColbyDining" style="margin-right: 10px; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 35px;">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </div>
                    </div>

                
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#" style="color: #fff; text-decoration: none;">Colby Dining</a>, All Rights Reserved.
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="{{ url_for('main.index') }}" style="margin-right: 15px; padding-right: 15px; border-right: 1px solid rgba(255, 255, 255, .1); color: #fff; text-decoration: none;">Home</a>
                                <a href="{{ url_for('main.menu') }}" style="margin-right: 15px; padding-right: 15px; border-right: 1px solid rgba(255, 255, 255, .1); color: #fff; text-decoration: none;">Menu</a>
                                <a href="{{ url_for('main.contact') }}" style="color: #fff; text-decoration: none;">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

    </div>





    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <script src="js/main.js"></script>
    <script src="{{ url_for('static', filename='js/userdashboard.js') }}"></script>
</body>

</html>

